# Entornos virtuales
env/
venv/

# Archivos de entorno
.env
.env.*
*.env

# Carpeta cloudflared dentro de Django
miweb/cloudflared/

# Cache Python
*.pyc
*.pyo
__pycache__/

# IDEs
.vscode/
.idea/

# Migraciones Django
miweb/*/migrations/
