<!-- templates/equipos.html -->
{% extends 'base.html' %}
{% block title %}Partidos - LEC Stats{% endblock %}

{% block content %}
<h1>Jugadores Activos</h1>
<div class="row">
  {% for partido in partidos %}
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ partido.nombre }}</h5>
          <p class="card-text">{{ partido.region }}</p>
        </div>
      </div>
    </div>
  {% empty %}
    <p>No hay partidos registrados.</p>
  {% endfor %}
</div>
{% endblock %}